{% extends 'base.html' %}

{% block title %}{{ company.name }} &bull; {{ block.super }}{% endblock %}

{% block content %}
    <section>
        <header>
            <h3 class="center-align">{{ company.name }}</h3>
        </header>

        {% autoescape off %}
        {{ company.description }}
        {% endautoescape %}
        <p>{{ company.contact_person }}</p>
        <div>
            {{ company.created }} | {{ company.updated }}
        </div>
        <p>{{ company.address }}</p>
        <div>
            <ul>
                {% for phone in company.phones.all %}
                    <li>{{ phone.owner }} - {{ phone.number }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
                {% for email in company.emails.all %}
                    <li>{{ email.owner }} - {{ email.address }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
