{% extends 'base_layout.html' %}

{% block title %}Контакты компаний &bull; {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <header>
            <h3 class="center-align">Контакты</h3>
        </header>

        <table class="highlight">
            <tr>
                <td>
                    <a href="{% url 'company:phone_list' %}">
                        <i class="material-icons left teal-text text-lighten-1">phone</i> Телефоны
                    </a>
                </td>
                <td class="right-align">
                    <a href="{% url 'company:phone_add' %}"
                       class="btn-floating waves-effect waves-light btn-small">
                        <i class="material-icons">add</i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'company:email_list' %}">
                        <i class="material-icons left teal-text text-lighten-1">email</i> Адреса электронной почты
                    </a>
                </td>
                <td class="right-align">
                    <a href="{% url 'company:email_add' %}"
                       class="btn-floating waves-effect waves-light btn-small">
                        <i class="material-icons">add</i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
